fastapi
uvicorn
supabase
passlib[bcrypt]
pyjwt
pydantic
sqlalchemy
requests
firebase-admin
google-genai==0.5.0
groq==0.13.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
bcrypt==3.2.2
python-multipart
resend==2.30.1