fastapi
uvicorn
supabase
passlib[bcrypt]
pyjwt
pydantic
sqlalchemy
requests
firebase-admin
google-genai
groq
python-dotenv==1.0.1
psycopg2-binary==2.9.9
bcrypt==3.2.2
python-multipart
google-generativeai
resend==2.30.1